[submodule "blackmagic"]
	path = third_party_components/blackmagic
	url = https://codeberg.org/mTOTm/blackmagic.git
	branch = dev/jiance.zhang/main_test
[submodule "third_party_components/CherryUSB"]
	path = third_party_components/CherryUSB
	url = https://github.com/zhangjiance/CherryUSB.git
	branch = ch32v30x-usbhs
